# Dependencies
/node_modules
/.pnp
.pnp.js

# Build outputs
/.next/
/out/

# Local environment variables
.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# TypeScript
*.tsbuildinfo

# Other
.DS_Store